<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <title>ERegistrar</title>
</head>
<body>
<div class="section-header">
    <h2>Add Classroom</h2>
</div>
<div class="row">
    <form class="col s12" th:action="@{/classrooms/add}" method="POST" th:object="${classroom}">
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Building Name" th:field="*{buildingName}" id="building_name"
                       type="text" class="validate"
                       required>
                <label for="building_name">Building Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Room Title" th:field="*{roomNumber}" id="room_number"
                       type="text" class="validate"
                       required>
                <label for="room_number">Room Number</label>
            </div>
        </div>
        <div style="float:right;">
            <a href="/classrooms" class="waves-effect waves-light btn-large">
                <i class="material-icons left">cancel</i>Cancel
            </a>
            <button class="waves-effect waves-light btn-large" type="submit">
                <i class="material-icons left">send</i>Submit
            </button>
        </div>
    </form>
</div>
</body>
</html>