<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <title>ERegistrar</title>
</head>
<body>
    <h1>Students List</h1>
    <table class="responsive-table highlight">
        <tr>
            <th>ID</th>
            <th>Student Number</th>
            <th>Full Name</th>
            <th>CGPA</th>
            <th>Date Of Enrollment</th>
            <th>Transcript</th>
            <th>Classrooms</th>
        </tr>
        <tr th:each="student : ${students}">
            <td th:text="${student.id}">1</td>
            <td th:text="${student.studentNumber}">1</td>
            <td th:text="${student.firstName} + ' ' + ${student.middleName} + ' ' + ${student.lastName}">John James Doe</td>
            <td th:text="${student.cgpa}">4.0</td>
            <td th:text="${student.dateOfEnrollment}">22/2/2019</td>
            <td th:text="${student.transcript.degreeTitle}">BS Everything</td>
            <td>
                <span th:each="class : ${student.classrooms}">
                    <span th:text="${class.roomNumber} + ', '">Class</span>
                </span>
            </td>
        </tr>
    </table>
</body>
</html>