<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <title>ERegistrar</title>
</head>
<body>
    <div style="margin: 2rem 0;">
        <span style="font-size: 3em;">Student Details</span>
        <span style="float:right; margin-top: 1rem;">
            <a th:href="@{'/students/' + ${student.id} + '/edit'}"
               class="waves-effect waves-light btn"><i class="material-icons left">edit</i>Edit Student</a>
        </span>
    </div>
    <div>
        <table class="responsive-table highlight">
            <tr>
                <td>Student ID</td>
                <td th:text="${student.id}">Student ID</td>
            </tr>
            <tr>
                <td>Student Number</td>
                <td th:text="${student.studentNumber}">Student Number</td>
            </tr>
            <tr>
                <td>Full Name</td>
                <td th:text="${student.firstName} + ' ' + ${student.middleName} + ' ' + ${student.lastName}">John Doe</td>
            </tr>
            <tr>
                <td>CGPA</td>
                <td th:text="${student.cgpa}">4.0</td>
            </tr>
            <tr>
                <td>Date Of Enrollment</td>
                <td th:text="${student.dateOfEnrollment}">Date</td>
            </tr>
            <tr>
                <td>Student Type</td>
                <td th:text="${student.studentType}">INTERNATIONAL</td>
            </tr>
            <tr>
                <td>Transcript Degree Title</td>
                <td th:text="${student.transcript?.degreeTitle}">Degree Title</td>
            </tr>
        </table>
    </div>
</body>
</html>