<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <title>ERegistrar</title>
</head>
<body>
<!-- Search -->
<div class="row" style="margin-top: 2rem;">
    <form class="col s6" th:action="@{/students/search}" method="get">
        <div class="row">
            <div class="input-field col s6">
                <input id="search" placeholder="Search by First Name" type="search" class="validate"
                       th:name="keyword" required>
                <label for="search">Search</label>
            </div>
            <div class="input-field col s6" style="float:right;">
                <button class="waves-effect waves-light btn-large" type="submit">
                    <i class="material-icons left">search</i>Search
                </button>
            </div>
        </div>
    </form>
</div>
<div style="margin: 1rem 0;">
        <span style="font-size: 3em;">Students List</span>
        <span style="float:right; margin-top: 1rem;">
            <a th:href="@{'/students/add'}"
               class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add Student</a>
        </span>
    </div>
    <table class="responsive-table highlight">
        <tr>
            <th>#</th>
            <th>Student Number</th>
            <th>Full Name</th>
            <th>CGPA</th>
            <th>Date Of Enrollment</th>
            <th>Transcript</th>
            <th>Classrooms</th>
            <th>Type</th>
            <th></th>
        </tr>
        <tr th:each="student, i : ${students}">
            <td scope="row" th:text="${i.count}">1</td>
            <td th:text="${student.studentNumber}">1</td>
            <td th:text="${student.firstName} + ' ' + ${student.middleName} + ' ' + ${student.lastName}">John James Doe</td>
            <td th:text="${student.cgpa}">4.0</td>
            <td th:text="${student.dateOfEnrollment}">22/2/2019</td>
            <td th:text="${student.transcript.degreeTitle}">BS Everything</td>
            <td>
                <span th:each="class : ${student.classrooms}">
                    <span th:text="${class.roomNumber} + ', '">Class</span>
                </span>
            </td>
            <td th:text="${student.studentType}">International</td>
            <td>
                <span><a th:href="@{'/students/' + ${student.id}}">
                    <i class="material-icons left">view_list</i></a></span>
                <span><a th:href="@{'/students/' + ${student.id} + '/edit'}">
                    <i class="material-icons left">edit</i></a></span>
                <span><a th:href="@{'/students/' + ${student.id} + '/delete'}">
                    <i class="material-icons left" style="color:crimson;">delete</i></a></span>
            </td>
        </tr>
    </table>
    <!-- Pagination -->
    <div style="margin-top: 2rem;">
        <ul class="pagination" th:if="${students!=null and !students.isEmpty()}">
            <li class="disabled" style="font-weight: bold; margin-right: 10px;">Pages: </li>
            <li
                    th:each="i : ${#numbers.sequence(1, students.totalPages)}"
                    th:class="${currentPageNo}==${i-1}?'blue lighten-1 active':'blue lighten-1'"
            >
                <a th:href="@{/students/search(pageNo=${i-1})}"
                   th:text="${i}" class = "page-link"></a>
            </li>
        </ul>
        <ul class="pagination" th:if="${students==null or students.isEmpty()}">
            <li class="disabled" style="font-weight: bold; margin-right: 10px;">No Students Found</li>
        </ul>
    </div>
</body>
</html>